.title{
    text-align: center;
}
hr{
    width:30%; 
    text-align:center;
/* pozioma linia pod buttonami */
}
.btn-container{
    text-align: center;
}


.filter-btn{
    background-color: #12a56f;
    border: none;
    color: whitesmoke;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 3px 3px;
    border-radius: 8px;
  }
  .filter-btn:hover {
    opacity: 0.7;
  }
.menu-item{
    text-align: justify;
    /* justify-wyjustowanie */
    background-color: burlywood;
    width: 350px;
    padding: 5%;
    margin: auto;
    border: 3px solid white;
    border-radius: 16px;
    margin-bottom: 7px;
    
    font-style: oblique;
}

.section-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* dzięki w/w kodowi mamy 2 kolumny produktów 
    w pełnym ekranie */
}
img{
    object-fit: cover;
    /* dzięki (object-fit: cover) obraz 
    nie będzie się dziwnie rozszerzał   */
}
